.bubbleText {
  font-family: "Katibeh", cursive;
  color: #174642;
  background-color: #ebcfac;
  /* le dan altura al div con heeight y con line height vas adecuando la ubicacion vertical*/
  height: 100px;
  line-height: 90px;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 40px;
}
