.productComplete {
  margin: auto;
  width: 300px;
}

.nameOfProduct {
  color: #174642;
  margin: 10px 0px 5px 0px;
  font-weight: 500;
}

.price {
  background-color: #174642;
  color: white;
  max-width: 100%;
  font-weight: 600;
  border-radius: 10px;
}
