.containerDivideB {
  background-color: #f5f0ea;
  height: 500px;
}

.containerTextIlustration {
  display: grid;
  place-items: center;
}
.textIlustration {
  color: #174642;
  font-size: 36px;
  font-family: "Katibeh", cursive;
  text-align: start;
  width: 50%;
}
